# Imports

In [1]:
import numpy as np
import pandas as pd

import snsql
from sklearn import metrics

# Importing the dataset

In [2]:
nov_2019 = pd.read_csv("../data/broadband_data_2019November.csv")
oct_2020 = pd.read_csv("../data/broadband_data_2020October.csv")
zipcode = pd.read_csv("../data/broadband_data_zipcode.csv")

In [3]:
nov_2019.head()

,ST,COUNTY ID,COUNTY NAME,BROADBAND AVAILABILITY PER FCC,BROADBAND USAGE
0,AL,1001,Autauga County,0.81,0.28
1,AL,1003,Baldwin County,0.88,0.30
2,AL,1005,Barbour County,0.59,0.18
3,AL,1007,Bibb County,0.29,0.07
4,AL,1009,Blount County,0.69,0.09

In [4]:
oct_2020.head()

,ST,COUNTY ID,COUNTY NAME,BROADBAND AVAILABILITY PER FCC,BROADBAND USAGE
0,AL,1001,Autauga County,0.8057,0.391
1,AL,1003,Baldwin County,0.8362,0.452
2,AL,1005,Barbour County,0.6891,0.324
3,AL,1007,Bibb County,0.3368,0.136
4,AL,1009,Blount County,0.758,0.199

## Basic EDA on these datasets

First let us clean the column names

In [5]:
nov_2019.columns = nov_2019.columns.str.strip().str.replace(" ", "_")
oct_2020.columns = oct_2020.columns.str.strip().str.replace(" ", "_")

In [6]:
nov_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ST                              3143 non-null   object
 1   COUNTY_ID                       3143 non-null   int64
 2   COUNTY_NAME                     3143 non-null   object
 3   BROADBAND_AVAILABILITY_PER_FCC  3143 non-null   object
 4   BROADBAND_USAGE                 3143 non-null   object
dtypes: int64(1), object(4)
memory usage: 122.9+ KB

In [7]:
oct_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ST                              3142 non-null   object
 1   COUNTY_ID                       3142 non-null   int64
 2   COUNTY_NAME                     3142 non-null   object
 3   BROADBAND_AVAILABILITY_PER_FCC  3142 non-null   object
 4   BROADBAND_USAGE                 3142 non-null   object
dtypes: int64(1), object(4)
memory usage: 122.9+ KB

One interesting thing here to note is that both the `BROADBAND_AVAILABILITY_PER_FCC` and the `BROADBAND_USAGE` column are of object data type, when ideally they should have been float. This means that there are some anomalous data present in there.

In [8]:
nov_2019["BROADBAND_AVAILABILITY_PER_FCC"].unique()

array([' 0.81 ', ' 0.88 ', ' 0.59 ', ' 0.29 ', ' 0.69 ', ' 0.06 ',
       ' 0.78 ', ' 0.93 ', ' 0.82 ', ' 0.99 ', ' 0.66 ', ' 0.23 ',
       ' 0.63 ', ' 0.40 ', ' 0.13 ', ' 0.90 ', ' 0.80 ', ' 0.76 ',
       ' 0.84 ', ' 0.75 ', ' 0.77 ', ' 0.98 ', ' 0.92 ', ' 0.74 ',
       ' 0.96 ', ' 0.38 ', ' 0.64 ', ' 0.54 ', ' 0.00 ', ' 0.87 ',
       ' 0.83 ', ' 0.34 ', ' 0.79 ', ' 0.55 ', ' 0.91 ', ' 0.61 ',
       ' 0.48 ', ' 0.95 ', ' 0.60 ', ' -   ', ' 0.27 ', ' 0.50 ',
       ' 0.89 ', ' 0.44 ', ' 0.30 ', ' 0.42 ', ' 0.49 ', ' 0.37 ',
       ' 0.25 ', ' 0.85 ', ' 0.62 ', ' 0.71 ', ' 0.68 ', ' 0.47 ',
       ' 0.10 ', ' 0.52 ', ' 0.07 ', ' 1.00 ', ' 0.53 ', ' 0.45 ',
       ' 0.86 ', ' 0.57 ', ' 0.70 ', ' 0.21 ', ' 0.97 ', ' 0.43 ',
       ' 0.73 ', ' 0.56 ', ' 0.17 ', ' 0.14 ', ' 0.46 ', ' 0.58 ',
       ' 0.22 ', ' 0.72 ', ' 0.01 ', ' 0.36 ', ' 0.32 ', ' 0.94 ',
       ' 0.41 ', ' 0.39 ', ' 0.09 ', ' 0.18 ', ' 0.12 ', ' 0.35 ',
       ' 0.67 ', ' 0.28 ', ' 0.11 ', ' 0.19 ', ' 0.51 ', ' 0.20 ',
       ' 0.33 ', ' 0.65 ', ' 0.02 ', ' 0.08 ', ' 0.31 ', ' 0.26 ',
       ' 0.05 ', ' 0.16 ', ' 0.04 ', ' 0.24 ', ' 0.03 ', ' 0.15 '],
      dtype=object)

There is a `' -   '` in there.

In [9]:
nov_2019[nov_2019["BROADBAND_AVAILABILITY_PER_FCC"] == " -   "]

,ST,COUNTY_ID,COUNTY_NAME,BROADBAND_AVAILABILITY_PER_FCC,BROADBAND_USAGE
52,AL,1105,Perry County,-,0.07
67,AK,2013,Aleutians East Borough,-,0.01
68,AK,2016,Aleutians West Census Area,-,0.02
70,AK,2050,Bethel Census Area,-,0.03
71,AK,2060,Bristol Bay Borough,-,0.04
73,AK,2070,Dillingham Census Area,-,0.07
81,AK,2164,Lake and Peninsula Borough,-,0.02
83,AK,2180,Nome Census Area,-,0.03
84,AK,2185,North Slope Borough,-,0.08
85,AK,2188,Northwest Arctic Borough,-,0.01
87,AK,2198,Prince of Wales-Hyder Census Area,-,0.01
92,AK,2270,Kusilvak Census Area,-,-
94,AK,2282,Yakutat City and Borough,-,0.01
95,AK,2290,Yukon-Koyukuk Census Area,-,0.01
436,GA,13101,Echols County,-,0.01
563,ID,16025,Camas County,-,0.07
568,ID,16035,Clearwater County,-,0.04
947,KS,20119,Meade County,-,0.08
1278,MI,26095,Luce County,-,0.08
1796,NM,35003,Catron County,-,0.01
2142,OK,40023,Choctaw County,-,0.06
2242,OR,41069,Wheeler County,-,0.03
2575,TX,48105,Crockett County,-,0.11
2628,TX,48211,Hemphill County,-,0.05
2640,TX,48235,Irion County,-,0.05
2729,TX,48413,Schleicher County,-,0.04
2738,TX,48431,Sterling County,-,0.06
2740,TX,48435,Sutton County,-,0.16
2781,UT,49009,Daggett County,-,0.12
2864,VA,51091,Highland County,-,0.08
2906,VA,51181,Surry County,-,0.05
2916,VA,51515,Bedford city,-,-

This means that these are missing values, and we will need to do some sort of imputation before making any differentially private data release.

However in this case we should leave them to be None.
Reason:

-   The broadband usage data depends on multiple factors that vary from state to state and county to county. Any imputation strategy would be like - impute with mean or median, but that takes into account global statistics, and would not yield correct results.

-   Moreover, it also does not fall within the scope of this project as the only goal here is to make a differentially private data release.

In [10]:
def deal_with_missing_data(
    dataset: pd.DataFrame,
    columns: list = ["BROADBAND_AVAILABILITY_PER_FCC", "BROADBAND_USAGE"],
) -> pd.DataFrame:
    """
    Utility function to clean the given columns of the dataframes.
    The anomalous values are replaced with None and the remaining values are appropriately preprocessed and converted to float.
    """
    dataset = dataset.copy()
    for c in columns:
        dataset[c] = dataset[c].replace(" -   ", None).str.strip().astype(float)

    return dataset

In [11]:
nov_2019 = deal_with_missing_data(nov_2019)
oct_2020 = deal_with_missing_data(oct_2020)

In [12]:
nov_2019.shape

(3143, 5)

# Differentially private data aggregations

In [13]:
def differential_privacy(
    dataset: pd.DataFrame,
    agg_column: str,
    epsilon: float,
    metadata: str,
    table_name: str,
) -> pd.DataFrame:
    """
    Utility function to implement differential privacy when performing a data aggregation. In this case, we want to find out the average broadband usage/average broadband coverage per state.

    Parameters:
    ----------
    dataset:    pandas dataframe. The broadband usage dataset

    agg_column: string. The column to aggregrate on. Should be one of ["BROADBAND_USAGE", "BROADBAND_COVERAGE_PER_FCC"]

    epsilon:    float. privacy parameter.

    delta:      float. privacy parameter.

    table_name: string. Name of the table. One of ["November2019", "October2020"]
    """
    privacy = snsql.Privacy(epsilon=epsilon, delta=0.1)
    connection = snsql.from_df(dataset, privacy=privacy, metadata=metadata)
    result = connection.execute_df(
        f"SELECT ST, AVG({agg_column}) AS {agg_column} FROM Broadband.{table_name} GROUP BY ST"
    )

    final = pd.merge(
        dataset.groupby("ST")[f"{agg_column}"].mean().reset_index(),
        result,
        on="ST",
        suffixes=("_ORIGINAL", "_DP"),
    )

    final["ABSOLUTE_ERROR"] = np.abs(
        final[f"{agg_column}_ORIGINAL"] - final[f"{agg_column}_DP"]
    )
    mae = metrics.mean_absolute_error(
        final[f"{agg_column}_ORIGINAL"], final[f"{agg_column}_DP"]
    )
    rmse = np.sqrt(
        metrics.mean_squared_error(
            final[f"{agg_column}_ORIGINAL"], final[f"{agg_column}_DP"]
        )
    )

    return final, mae, rmse

## November 2019 data

### $\epsilon=0.1$

In [14]:
final, mae, rmse = differential_privacy(
    nov_2019.copy(),
    "BROADBAND_USAGE",
    0.1,
    "../data/broadband_data_2019November_metadata.yaml",
    "November2019",
)

In [15]:
final

    ST  BROADBAND_USAGE_ORIGINAL  BROADBAND_USAGE_DP  ABSOLUTE_ERROR
0   AL                  0.198955            0.306685        0.107730
1   AR                  0.138133            0.164731        0.026597
2   CA                  0.421897            0.720355        0.298458
3   CO                  0.340938            0.314260        0.026678
4   FL                  0.382836           -1.164367        1.547202
5   GA                  0.255094            0.221690        0.033404
6   IA                  0.260303            0.145378        0.114925
7   ID                  0.211591            0.063085        0.148505
8   IL                  0.270784            0.289525        0.018740
9   IN                  0.248913            0.428147        0.179234
10  KS                  0.204286            0.272296        0.068011
11  KY                  0.189000            0.222849        0.033849
12  LA                  0.206719            0.245283        0.038564
13  MD                  0.525000           10.848236       10.323236
14  MI                  0.320843            0.109464        0.211380
15  MN                  0.328506            0.530081        0.201576
16  MO                  0.198348            0.259802        0.061454
17  MS                  0.117683           -0.012196        0.129879
18  MT                  0.229821            0.218788        0.011033
19  NC                  0.315800            0.249932        0.065868
20  ND                  0.415472            1.202691        0.787219
21  NE                  0.186559            0.359350        0.172791
22  NH                  0.554000            1.681874        1.127874
23  NJ                  0.674762            1.205257        0.530496
24  NM                  0.210000           -0.164348        0.374348
25  NV                  0.257059           -0.261370        0.518429
26  NY                  0.433871            0.700590        0.266719
27  OH                  0.318068            0.387697        0.069629
28  OK                  0.177403            0.169851        0.007552
29  OR                  0.422778            0.609539        0.186761
30  PA                  0.368955            0.564569        0.195614
31  SC                  0.267391            0.001348        0.266043
32  SD                  0.322000            0.298624        0.023376
33  TN                  0.272211            0.324706        0.052495
34  TX                  0.222795            0.217996        0.004799
35  UT                  0.417586            0.377419        0.040167
36  VA                  0.367087            0.413694        0.046608
37  WA                  0.418974           -0.142761        0.561736
38  WI                  0.333056            0.446887        0.113832
39  WV                  0.195818            0.064466        0.131352
40  WY                  0.278261           -0.207335        0.485596

In [16]:
print(f"Mean Absolute error: {mae:.4f}\nRoot Mean Squared Error: {rmse:.4f}")

Mean Absolute error: 0.4783
Root Mean Squared Error: 1.6577

### $\epsilon=0.2$

In [17]:
final, mae, rmse = differential_privacy(
    nov_2019.copy(),
    "BROADBAND_USAGE",
    0.2,
    "../data/broadband_data_2019November_metadata.yaml",
    "November2019",
)

In [18]:
final

    ST  BROADBAND_USAGE_ORIGINAL  BROADBAND_USAGE_DP  ABSOLUTE_ERROR
0   AK                  0.178214            0.095148        0.083067
1   AL                  0.198955            0.218933        0.019978
2   AR                  0.138133            0.193581        0.055448
3   AZ                  0.321333            0.620075        0.298741
4   CA                  0.421897            0.391663        0.030234
5   CO                  0.340938            0.231474        0.109464
6   CT                  0.530000            3.261269        2.731269
7   FL                  0.382836            0.317351        0.065485
8   GA                  0.255094            0.216405        0.038690
9   IA                  0.260303            0.301081        0.040778
10  ID                  0.211591            0.043573        0.168017
11  IL                  0.270784            0.268178        0.002606
12  IN                  0.248913            0.221157        0.027756
13  KS                  0.204286           -0.001343        0.205629
14  KY                  0.189000            0.320861        0.131861
15  LA                  0.206719            0.351912        0.145193
16  MA                  0.640000            0.417604        0.222396
17  MD                  0.525000            0.399288        0.125712
18  MI                  0.320843            0.465445        0.144602
19  MN                  0.328506            0.412326        0.083820
20  MO                  0.198348            0.097333        0.101015
21  MS                  0.117683            0.031299        0.086384
22  MT                  0.229821           -0.081434        0.311256
23  NC                  0.315800            0.246893        0.068907
24  ND                  0.415472            0.556842        0.141371
25  NE                  0.186559            0.289101        0.102542
26  NH                  0.554000            1.279188        0.725188
27  NJ                  0.674762            0.822407        0.147645
28  NM                  0.210000            0.066948        0.143052
29  NV                  0.257059            0.000000        0.257059
30  NY                  0.433871            0.446170        0.012299
31  OH                  0.318068            0.390812        0.072744
32  OK                  0.177403            0.221678        0.044276
33  OR                  0.422778            0.342160        0.080618
34  PA                  0.368955            0.321038        0.047917
35  SC                  0.267391            0.324857        0.057466
36  SD                  0.322000            0.241065        0.080935
37  TN                  0.272211            0.342507        0.070296
38  TX                  0.222795            0.237342        0.014547
39  UT                  0.417586            0.563798        0.146212
40  VA                  0.367087            0.405803        0.038717
41  WA                  0.418974            0.397434        0.021541
42  WI                  0.333056            0.435849        0.102794
43  WV                  0.195818           -0.000935        0.196753
44  WY                  0.278261            0.334716        0.056455

In [19]:
print(f"Mean Absolute error: {mae:.4f}\nRoot Mean Squared Error: {rmse:.4f}")

Mean Absolute error: 0.1746
Root Mean Squared Error: 0.4390

## October 2020 data

### $\epsilon=0.1$

In [20]:
final, mae, rmse = differential_privacy(
    oct_2020.copy(),
    "BROADBAND_USAGE",
    0.1,
    "../data/broadband_data_2020October_metadata.yaml",
    "October2020",
)

In [21]:
final

    ST  BROADBAND_USAGE_ORIGINAL  BROADBAND_USAGE_DP  ABSOLUTE_ERROR
0   AK                  0.272172            0.669277        0.397104
1   AL                  0.289597            0.311534        0.021937
2   AR                  0.226627            0.176907        0.049719
3   AZ                  0.458333            1.022301        0.563968
4   CA                  0.529052            0.484899        0.044153
5   CO                  0.449375            0.671011        0.221636
6   FL                  0.507284            0.639333        0.132049
7   GA                  0.376956            0.459560        0.082604
8   IA                  0.403576            0.297693        0.105883
9   ID                  0.358500            0.564078        0.205578
10  IL                  0.370735            0.368730        0.002005
11  IN                  0.356033            0.668376        0.312343
12  KS                  0.362410            0.378891        0.016481
13  KY                  0.302150            0.310476        0.008326
14  LA                  0.284094            0.145332        0.138762
15  MD                  0.671583            0.381807        0.289776
16  ME                  0.437937           -1.550002        1.987939
17  MI                  0.402759            0.562929        0.160170
18  MN                  0.451805            0.275950        0.175855
19  MO                  0.291626            0.299281        0.007655
20  MS                  0.200378            0.470860        0.270482
21  MT                  0.341196            0.233552        0.107644
22  NC                  0.442530            0.380373        0.062157
23  ND                  0.476887            0.501324        0.024437
24  NE                  0.309600            0.277571        0.032029
25  NJ                  0.733952            0.270894        0.463058
26  NY                  0.571774            0.326657        0.245117
27  OH                  0.455432            0.359679        0.095752
28  OK                  0.275922            0.255534        0.020388
29  OR                  0.523639            1.697878        1.174239
30  PA                  0.469925            0.417218        0.052707
31  SC                  0.374326            0.764641        0.390315
32  SD                  0.419591            0.454174        0.034583
33  TN                  0.405011            0.417302        0.012291
34  TX                  0.339957            0.347349        0.007392
35  UT                  0.584069            0.207418        0.376651
36  VA                  0.473960            0.360227        0.113734
37  WA                  0.486974            0.452864        0.034110
38  WI                  0.415472            0.499282        0.083809
39  WV                  0.252764            0.190333        0.062431
40  WY                  0.395913            0.082228        0.313685

In [22]:
print(f"Mean Absolute error: {mae:.4f}\nRoot Mean Squared Error: {rmse:.4f}")

Mean Absolute error: 0.2171
Root Mean Squared Error: 0.4130

### $\epsilon=0.2$

In [23]:
final, mae, rmse = differential_privacy(
    oct_2020.copy(),
    "BROADBAND_USAGE",
    0.2,
    "../data/broadband_data_2020October_metadata.yaml",
    "October2020",
)

In [24]:
final

    ST  BROADBAND_USAGE_ORIGINAL  BROADBAND_USAGE_DP  ABSOLUTE_ERROR
0   AK                  0.272172            0.009528        0.262645
1   AL                  0.289597            0.218787        0.070810
2   AR                  0.226627            0.248216        0.021589
3   AZ                  0.458333            0.933072        0.474738
4   CA                  0.529052            0.266273        0.262779
5   CO                  0.449375            0.480623        0.031248
6   FL                  0.507284            0.784126        0.276843
7   GA                  0.376956            0.398646        0.021690
8   IA                  0.403576            0.263457        0.140119
9   ID                  0.358500            0.288938        0.069562
10  IL                  0.370735            0.280647        0.090088
11  IN                  0.356033            0.352341        0.003691
12  KS                  0.362410            0.278784        0.083626
13  KY                  0.302150            0.308079        0.005929
14  LA                  0.284094            0.204906        0.079188
15  MA                  0.705214            4.670073        3.964859
16  MD                  0.671583            0.530170        0.141413
17  ME                  0.437937           -0.314123        0.752060
18  MI                  0.402759            0.348766        0.053993
19  MN                  0.451805            0.429426        0.022378
20  MO                  0.291626            0.292299        0.000672
21  MS                  0.200378            0.146329        0.054049
22  MT                  0.341196            0.421048        0.079851
23  NC                  0.442530            0.350755        0.091775
24  ND                  0.476887            0.793067        0.316180
25  NE                  0.309600            0.248289        0.061311
26  NH                  0.664800            0.725155        0.060355
27  NJ                  0.733952            0.795300        0.061348
28  NM                  0.324152            0.216779        0.107372
29  NV                  0.354353            1.589018        1.234665
30  NY                  0.571774            0.780090        0.208315
31  OH                  0.455432            0.400758        0.054673
32  OK                  0.275922            0.074037        0.201885
33  OR                  0.523639            0.567034        0.043395
34  PA                  0.469925            0.488311        0.018386
35  SC                  0.374326            0.632628        0.258302
36  SD                  0.419591            0.402315        0.017276
37  TN                  0.405011            0.423917        0.018906
38  TX                  0.339957            0.340216        0.000259
39  UT                  0.584069            0.394510        0.189559
40  VA                  0.473960            0.349551        0.124409
41  VT                  0.417857            0.361855        0.056002
42  WA                  0.486974            0.423279        0.063696
43  WI                  0.415472            0.279019        0.136453
44  WV                  0.252764            0.209356        0.043408
45  WY                  0.395913            0.155184        0.240729

In [25]:
print(f"Mean Absolute error: {mae:.4f}\nRoot Mean Squared Error: {rmse:.4f}")

Mean Absolute error: 0.2298
Root Mean Squared Error: 0.6386